.entire-hand-container {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.full-hand-img {
  height: 300px;
  max-height: 50vh;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
