.card-peek-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  @media only screen and (max-height: 500px) {
    background-color: gray;
  }

  @media only screen and (min-height: 501px) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .buttons {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    padding: 10px;
  }
}

.button-group {
  button {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.random {
  margin-top: -10px;
  margin-bottom: -10px;
  width: 90%;
  background-color: gray;
  padding-left: 20px;
  .MuiFormControlLabel-label {
    font-size: 0.85rem;
  }
  .MuiFormGroup-root {
    display: flex;
    flex-direction: row;
  }
}

.peek-img {
  height: 300px;
  max-height: 50vh;
  margin-top: 5px;
}

.select {
  width: 100%;
}

.peek-content {
  width: 90%;
  background-color: gray;

  .MuiInput-input {
    padding-left: 10px;
  }

  .dragging {
    .MuiInput-input {
      background-color: lightgreen;
    }
  }
}

.deck-text-importer-background {
  width: 70%;
  padding: 10px;
  margin-top: 80px;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .button-group {
    display: flex;
    gap: 10px;
  }
}
