@use "mixins/devices";

.card-selector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .text-field-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .text-field-background {
      padding: 0px;
      margin-right: 5px;
      background-color: white;
      border-radius: 5px;
    }
  }
  .card-images-selector {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
  }
}

.full-hand-img {
  border-radius: 15px;
  height: 300px;
  max-height: 50vh;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
