@import "./mixins/devices";

.card-picker-select {
  .select {
    width: 20%;
    min-width: 200px;
  }
}

.card-picker-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mobile-only {
    visibility: hidden;
    @include for-touch-device {
      visibility: visible;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
