.dev-settings {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1000000;
  padding: 10px;

  button {
    width: 10%;
  }
}

.refresh {
  color: red;
}
