@import "./mixins/devices";

#context-menu-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.touch-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 5px;
  background-color: gray;
  color: white;
  opacity: 50%;
  z-index: 99;
  button {
    &.toggle-on {
      background-color: white;
    }
    &:not(.toggle-on) {
      color: white;
    }
  }
  @include for-touch-device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.play-area {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-image: url(./images/table-bg-tile.jpg);
}
