@import "./mixins/devices";

.options-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  padding: 5px 5px;
  background-color: gray;
  color: white;
  opacity: 0.5;
  z-index: 99;

  .render-touch-only {
    display: none;
    @include for-touch-device {
      display: flex;
    }
  }

  button {
    margin-bottom: 5px;
    &.toggle-on {
      background-color: white;
    }
    &:not(.toggle-on) {
      color: white;
    }
    &.text-button {
      height: 59px;
      font-size: 24px;
    }
  }
}
