.menu-orbit-item {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #9257ad;
  // padding: 10px;
  white-space: nowrap;

  &.nested-menu-item {
    background-color: rgb(235, 122, 105);
  }

  &.double-nested-menu-item {
    background-color: rgb(235, 222, 105);
  }
}
