.player-hand-card {
  background-color: grey;
  height: 85.6px;
  width: 66px;
  min-width: 66px;
  position: relative;

  img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.hide-img {
      display: none;
    }
    &.rotate-card {
      width: 85.6px;
      height: 66px;
      -webkit-transform: translateX(-100%) rotate(-90deg); /* Safari */
      -moz-transform: translateX(-100%) rotate(-90deg); /* Firefox 3.6 Firefox 4 */
      -ms-transform: translateX(-100%) rotate(-90deg); /* IE9 */
      -o-transform: translateX(-100%) rotate(-90deg); /* Opera */
      transform: translateX(-100%) rotate(-90deg); /* W3C */
      -webkit-transform-origin: top right;
      -moz-transform-origin: top right;
      -ms-transform-origin: top right;
      -o-transform-origin: top right;
      transform-origin: top right;
    }
  }
}

.player-number {
  align-self: center;
  padding-right: 10px;
}

.card-dropzone {
  position: absolute;
  top: 0px;
  height: calc(100% - 70px);
}

.options-menu-button {
  padding-left: 0px !important;
  padding-right: 5px !important;
}
