.player-hand-card {
  height: 50px;
  background-color: grey;
  transition: height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background-color: blue;
    height: 100px;
  }
}

.player-hand-dropzone {
}

.card-dropzone {
  position: absolute;
  top: 0px;
  height: calc(100vh - 98px);
}
