@import "./mixins/devices";

.touch-menu {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow-y: auto;
  padding: 5px 5px;
  background-color: gray;
  color: white;
  opacity: 50%;
  z-index: 99;
  button {
    &.toggle-on {
      background-color: white;
    }
    &:not(.toggle-on) {
      color: white;
    }
    &.text-button {
      height: 59px;
      font-size: 24px;
    }
  }
  @include for-touch-device {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
