@import "./mixins/devices";

.touch-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 5px;
  background-color: gray;
  color: white;
  opacity: 50%;
  z-index: 99;
  button {
    &.toggle-on {
      background-color: white;
    }
    &:not(.toggle-on) {
      color: white;
    }
  }
  @include for-touch-device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
